body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    width: 100%;
}

.container {
    display: flex;
    height: 100%;
    /* background-color: rgb(50, 121, 121); */
}

.banner {
    /* flex: 0 0 70%; */
    /* background-color: #f2f2f2; */
    /* position: relative; */
    width: 70%;
    height: 100%;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* opacity: 0.5; */
}

.login-form {
    width: 30%;
    height: 100%;
    /* display: flex; */
    /* flex: 0 0 30%; */
    /* padding: 20px; */
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
    padding: 20px;
    background-color: rgb(50, 121, 121);
    /* background-color: rgba(255,177,55,0.5); */
    /* box-shadow: 0 0 10px; */
    /* border-radius: 10px; */
    /* margin: auto; */
    /* background-color: rgba(255, 255, 255, 0.8);  */
    /* background-color: rgb(50, 121, 121); */

    /* border-radius: 10px; 
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

.login-form h2 {
    margin-bottom: 20px;
    justify-content: center;

    /* position: relative; */
}

.form-group {
    margin-top: 24%;
    /* background-color: rgb(50, 121, 121); */

}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.heading {
    padding-top: 40px;
    color: hsl(19, 90%, 49%);
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
    /* align-items: center; */
    margin-right : 10%;
    display: flex;
}

.un {
    width: 76%;
    color: rgb(66, 133, 167);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

.pass {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

.submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 29%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}


.un {
    margin-right: 20px;
}


.form-group input {
    width: 60%;
}